# نتائج التحليل المؤقتة والكبيرة
temp/

# ملفات البيانات الخام الكبيرة جداً (fastq.gz)
data/fastq/

# الملفات المرجعية الكبيرة (يجب على المستخدم تحميلها)
data/*.fa
data/*.gtf.gz
data/*.index

# ملفات R المؤقتة والخاصة ببيئة العمل
.Rproj
.Rhistory
*.Rdata
*.rds
*.Rout

# ملفات نظام التشغيل
.DS_Store
Thumbs.db
