# ملف RData الذي سبب المشكلة:
.RData 

# ملفات R المؤقتة الأخرى وملفات النتائج الثنائية
.Rproj
.Rhistory
*.Rdata
*.rds
*.Rout

# مجلدات ومحتويات البيانات الكبيرة
results/
data/fastq/
data/*.fa
data/*.gtf.gz
data/*.index

# ملفات نظام التشغيل
.DS_Store
Thumbs.db
